body {
    background-color: aliceblue;
}
.head_images {
    text-align: center;
    margin-left: 3px;
    background-color: chocolate;
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    padding-top: 01%;
    padding-bottom: 01%;
}
 .pg_title{
    max-width: 60%;
    margin: auto;
 }

.pg_title h1 {
    text-align: center;
    color: rgb(255, 81, 0);
    margin-top: 0%;
    margin-bottom: 0%;
}
.pg_title h3 {
    text-align: center;
    color: forestgreen;
    margin-top: 0%;
}
.pg_title p {
    text-align: justify;
    font-family: system-ui;
    margin-bottom: 4%;
}
menu li {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    padding-right: 2%;
    text-decoration: none;
}
menu {
    text-align: center;
    color: white;
    background-color: darkgreen;
    padding: 0.2%;
    margin: 0%;
    margin-left: -1%;
    margin-right: -1%;
    font-weight: bold;
    text-decoration: none;
}
menu ul {
    text-decoration: none;
}

.options{
    max-width: 100%;
    background-color: coral;
    text-align: center;
    padding-bottom: 10%;
    border-radius: 1%;
    margin-top: 3%;
}

.options h3 {
    color: white;
}